<!-- <ion-view view-title="My AP-HP" cache-view="false"> -->

<ion-view view-title="HUPNVS">
	<!-- <ion-nav-buttons side="right">
	    <button class="right button button-icon icon network-status {{network}}"></button>
	</ion-nav-buttons> -->
	
	<!-- <ion-content overflow-scroll="false" class="weather-home"> -->
	<ion-content class="myaphp-home">
		<!-- PULL to refresh -->
		<ion-refresher on-refresh="doRefreshCat()"></ion-refresher>
		<!--<p>{{online}}</p> -->
		<!-- <span class="button button-icon icon ion-settings"></span> -->
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
		  <ion-slide ng-repeat="post in wpPosts">
		    <a href="#/app/post/{{post.postID}}" class="box blue diapo-wrapper" style="background-image: url('{{post.thumb}}'); background-size: cover">
		    <!-- <div class="box blue"> -->
		    	<!-- <img ng-src="{{post.thumb}}"> -->
		    	<p class='diapo-title' ng-bind="post.title"></p>
			<!-- {{post.excerpt}} -->
			<div class='diapo-excerpt' ng-bind-html="post.excerpt"></div>
		    	<!-- <div ng-bind=""></div> -->
		    </a>
		  </ion-slide> 
		</ion-slide-box>

		<ion-list>
			<div ng-repeat="cat in wpCategories">
				<!-- Affichage Cat N0 -->
				<ion-item class="item-stable"
                    ng-click="toggleGroup(cat); {{cat.clickFn}}"
                    ng-class="{active: isGroupShown(cat)}"
                    href="{{cat.destURL}}">    
		            &nbsp;
		            {{cat.name}}
		            <i class="icon" ng-class="isGroupShown(cat) ? '{{cat.iconminus}}' : '{{cat.iconplus}}'"></i>
		        </ion-item>

				<!-- Affichage sous-Cat -->
				<ion-item class="item-accordion"
				        ng-repeat="item in cat.items"
				        ng-show="isGroupShown(cat)"
				        href="{{item.destURL}}"
				        ng-click="{{cat.clickFn}}">
				        &nbsp;&nbsp;
				        {{item.name}}
				</ion-item>
			</div>
		</ion-list>
		
		

	</ion-content>
</ion-view>