/* Empty. Add your own CSS if you like */

ion-item i{
	float: right;
    position: absolute;
    right: 1.5em;
}

img{
	max-width: 100%;
	height: auto;
}

img.gh-logo {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}

.item-complex.item-stable > .item-content {
	background-color: inherit;
	color: inherit;
	font-weight: bold;
}



.ion-ios-star-outline.icon-active{
	color: #444444 !important;
}
.network-status{
	display: none !important;
}

.network-status.network-off{
	color: red !important;
	display: block !important;
}

/*-------------*/
/*--- DIAPO ---*/
/*-------------*/

.slider{
	height: 30vh;
}

.slider-slide div{
	height: 100% !important;
}
.diapo-overlay{
	background-color: rgba(0,0,0,0.5);	
}


.diapo-title{
	    font-weight: bold;
    widht: 100%;
    /*background-color: rgba(0,0,0,0.5);*/
    color: #fff;
    padding: .5em 1em;
}

.slider-slide div.diapo-excerpt{
    /*background-color: rgba(0,0,0,0.5);*/
    color: #fff;
    margin: 0;
    padding: .5em 1em;
    height: 8.3em !important;
    line-height: 1.5em;
    overflow: hidden;
}


a.diapo-wrapper{
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
    /*margin: 0 2%;*/
}
table tr td{
	border: 1px solid #aaa;
	padding: 5px;
}

/*------------*/
/*--- POST ---*/
/*------------*/

.flexbox-container a{
	padding: 5px !important;
}

.item h3.item-text-center{
	left:28%;
	width: 62%;
	white-space: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.item h3.item-text-center.has-thumb{
	left:28%;
	width: 62%;
}

.cat-thumb{
	width: 25%;
	float: left;
	height: 4em;
    background-size: cover;
    background-color: #ccc;
}

.cat-thumb.has-thumb{
	    
}



.bloc-portrait{
	display: none;
}

.bloc-portrait.has-portrait{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	float: left;
}

h2.nom-portrait{
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-top: 32px;
}

h3.titre-portrait{
	font-size: 14px;
}

.bloc-portrait .img-portrait{
	display: block;
    width: 30vw;
    height: 30vw;
    background-color: #aaa;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.bloc-portrait .infos-portrait {
    width: 60vw;
    float: left;
}

.post-content h1{
	font-size: 16px;
	margin: 0;
	line-height: 20px;
	/*height: 60px;*/
	background-color: rgba(0,0,0,0.6);
    padding: 10px;
    color: #fff;
}

.post-content .cat-thumb{
	height: auto;
	width: 100%;
	background-color: transparent;
	margin-bottom: 20px
}

.post-content .cat-thumb.has-thumb{
	display: block;
	margin-right: 10px;
    
        height: 150px;
    background-position: center;
}

.ion-ios-star.icon-active{
	color: #4BC54B !important;
}

.post-content .post-wrapper {
	float: left;
	padding: 10px;
}


.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}